.sidebar {
    width: 300px;
    float: left;
    background: #232323;
    padding: 1em;
}
.programm-box {
    border: 10px solid #eee;
    margin-bottom: 2px;
    padding: 0px;
}
.programm-header {
    background-color: #eee;
    padding: 5px;
    font-weight: bold;
}

.programm-header-wrapper {
    display: flex;
    align-items: center;  /* vertikal zentrieren */
    gap: 8px;              /* Abstand zwischen Button und Text */
}

.toggle-btn {
    font-size: 12px;
    padding: 2px 6px;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.toggle-btn:focus {
    outline: none;
}

ul {
    list-style-type: none;
    padding-left: 0.5cm;
}

ul ul {
    padding-left: 3em; /* Noch weiter eingerückt für untergeordnete Listen */
}